body {
    margin: 0;
    padding: 0;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: relative;
    overflow: hidden;
    color: whitesmoke;
    background: url('/assets/images/bg.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100%;
    text-align: center;
    padding: 2rem 0;
    box-sizing: border-box;
}

.top-section {
    margin-top: 1rem;
}

.title {
    font-size: 1.2rem;
    opacity: 0.3;
    margin: 0;
}

.sign {
    font-size: 0.6rem;
    opacity: 0.3;
    margin: 0.2rem 0;
}

.center-section {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timer-display {
    font-size: 14rem;
    animation: pulse 1s infinite;
    font-weight: bolder;
}

.bottom-section {
    margin-bottom: 2rem;
}

.settings {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 1rem;
}

.setting-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*color: whitesmoke;*/
    opacity: 0.6;
}

.controls button {
    font-size: 1rem;
    margin: 0 1rem;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 8px;
    background-color: black;
    color: whitesmoke;
    opacity: 0.6;
    cursor: pointer;
}

.mute-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    background: rgba(0, 0, 0, 0.4);
    border: none;
    border-radius: 50%;
    color: whitesmoke;
    padding: 0.5rem;
    cursor: pointer;
    z-index: 2;
    transition: background 0.3 ease, transform 0.2s ease;
}

.mute-btn:hover {
    background: rgba(0, 0, 0, 0.7);
    transform: scale(1.1);
}

.set-indicator {
    font-size: 1.2rem;
    opacity: 0.6;
    margin-top: 1rem;
}